<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>second</ion-title>
  </ion-toolbar>
</ion-header> -->

<hidenav-stretchheader header-height="50" opacity-factor="7" opacity-color="red" init-expanded="true" no-border="false">
  <ion-toolbar color="none" #static>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" (click)="expand()">My Header</ion-title>
  </ion-toolbar>

  <div #shrinkexpand (click)="expand()">
    <img src="assets/academy.jpg" width="100%">
  </div>

</hidenav-stretchheader>

<ion-content hidenav-sh-content class="ion-padding">

  <ion-card *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome Content
    </ion-card-content>
  </ion-card>

</ion-content>