<ion-header hidenav-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Stretchy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content hidenav-content>
  <ion-button expand="full" routerLink="/second">Go Second
  </ion-button>
  <ion-button expand="full" routerLink="/tabs">Go Third
  </ion-button>

  <ion-card *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome Content
    </ion-card-content>
  </ion-card>
</ion-content>